<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>皮蛋直播-首页</title>
    <meta name="keywords" content="皮蛋直播官网">
    <link href="{$TMPL}/view/images/pidan.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" href="{$TMPL}/view/css/index.css">
    <!--[if lt IE 9]><script> document.createElement('video');</script><![endif]-->
</head>
<body>

    <div class="container">
        <!-- <video autoplay loop id="myVideo">
            <source src="media/581463da15361.mp4">
        </video> -->
        <div class="content_box">
            <div class="header">
                <img src="{$TMPL}/view/images/logo.png" alt="">
                <ul>
                    <a href="{$TMPL}/view/index.html"><li>首页</li></a>
                    <a href="{$TMPL}/view/about.html"><li>关于我们</li></a>
                    <a href="{$TMPL}/view/contact.html"><li>联系我们</li></a>
                </ul>
            </div>
            <div class="content">
                <img src="{$TMPL}/view/images/text.png" alt="">
                <div>
                    <!-- <div class="first">
                        <img src="images/erweima1.png" alt="" />
                    </div>
                    <div>
                        <a href="http://android.myapp.com/myapp/detail.htm?apkName=com.example.administrator.wangyuanfu_live"><p class="and"></p></a>
                        <a href="https://www.pgyer.com/qj0P"><p class="ios"></p></a>
                    </div> -->
                </div>
            </div>
            <div class="footer">
                <div class="nav">
                    <a href="{$TMPL}/view/about.html">关于我们</a>
                    <i></i>
                    <a href="{$TMPL}/view/contact.html">联系我们</a>
                    <i></i>
                    <a href="{$TMPL}/view/laws.html">法律声明</a>
                    <i></i>
                    <a href="{$TMPL}/view/help.html">帮助中心</a>
                </div>
                <div class="copyright">
                    <span>版权所有:2016-2020</span>
                    <span>Copyright © 2016</span>
                    <span>杭州拾麦网络科技有限公司</span>
                    <span>保留所有权利</span>
                    <span><img src="{$TMPL}/view/images/gongan.png" alt="" /></span>
                    <span>浙ICP备16002158号-1</span>
                    <div>
                        <img src="{$TMPL}/view/images/pidan-weibo.png" alt="">
                        <p>扫描关注皮蛋微博</p>
                    </div>
                    <div>
                        <img src="{$TMPL}/view/images/pidan-weixin.png" alt="">
                        <p>扫描关注皮蛋微信</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{$TMPL}/view/js/jquery-1.11.3.js"></script>
    <script>
        // jQuery(document).ready(function() {
        //     $('.and').mouseover(function() {
        //         $('.first img').show();
        //     });
        //     $('.and').mouseout(function() {
        //         $('.first img').hide();
        //     });
        // });
    </script>
</body>
</html>